google-cloud-bigquery==3.35.1
psycopg2==2.9.10
pandas==2.3.1
sqlalchemy==2.0.43
flask==3.1.1
tqdm==4.67.1
db_dtypes==1.4.3
colorama==0.4.6
python-dotenv==1.1.1
linkedin-api==2.3.1
openai==1.100.2
geopandas==1.1.1
matplotlib==3.10.5